@page "/Info"

<h3 class="text-center">Latin Decoder</h3>

<div class="container my-4">
    <div>
        <p>
            The <i>Latin Decoder</i> is the first ever digital tool designed to process and integrate fragmentary Latin texts such as manuscripts and epigraphs. By simply typing a fragmentary Latin word or a group of words including missing letters (<i>e</i>.<i>g</i>., pec---a) in the search bar, users can look up all its possible textual integrations, as attested in the entire corpus of extant Latin literature and epigraphy.
        </p>
        <p>
            Usually, it is reasonably easy to identify the number of characters of a fragmentary word in a manuscript or an inscription through the analysis of the handwriting and the space that extant characters occupy on the page or stone. However, it is difficult to think about the possible integrations that would match a specific series of letters and spaces in a fragmentary Latin text, especially when a non-native speaker of Latin looks for a so-called <i>lectio difficilior</i> (<i>i</i>.<i>e</i>., a more specific and less banal textual integration).
        </p>

        <p>
            Addressing this need, the <i>Latin Decoder</i> leverages original algorithms and the data provided by the <i>Latin Diachronic Database</i> (<a href="https://github.com/tommasospinelli/Latin-Diachronic-Database" target="_blank" rel="noopener noreferrer">https://github.com/WizardOfMenlo/LatinDiachronicDatabase;</a> See <a href="https://journals.ub.uni-heidelberg.de/index.php/dco/article/view/76079/72579" target="_blank" rel="noopener noreferrer">Spinelli 2021: 12–14</a>) to enable users to consider all the possible integrations for a fragmentary Latin word or group of words. Specifically, the programme processes a large textual corpus yielding some 9,500,000 words, and covering the works of 307 authors (from the IV century BCE to the VI century CE) which was assembled using different opensource textual databases available online such as <i>Perseus</i>, the <i>PHI Database</i>, <i>Corpus Corporum</i> and the <i>Bibliotheca Augustana</i>.  Moreover, thanks to the kind permission of Prof. Manfred Clauss, the <i>Latin Decoder Database</i> now includes the entire corpus of Latin epigraphs as recorded in the <i>Corpus Inscriptionum Latinarum</i>. When a fragmentary word is fed into the system, original algorithms parse the textual corpus in a few seconds and compile a list of attested word-forms that match the query before eliminating duplicates automatically.  In so doing, the programme boosts the linguistic capabilities of the human mind by providing scholars with an accurate list of possible integrations that may also include very rare terms that are attested only a few times in extant Latin literature and epigraphs.
        </p>
    </div>
    <hr />
    <div>
        <p>
            <h4>Acknowledgements</h4>
        </p>
        <p>
            The <i>Latin Decoder</i> was invented, designed and co-developed by Tommaso Spinelli (University of Manchester), with the technical assistance of Giacomo Fenzi (University of Zurich, ETH) for the development of the parsing and lemmatising technology, and Alexandros Michael (University of St Andrews) for the development of the web application.
        </p>
        <p>
            The developers would like to express their gratitude to the University of Manchester for hosting this programme, and to Anja Le Blanc and Theresa Teng for facilitating the realisation of this project.
        </p>
        <p>
            The Diachronic Latin Database (<a href="https://risweb.st-andrews.ac.uk/portal/en/datasets/the-latin-diachronic-database-project(05bf041f-9654-4173-8c8a-b93a2efa0926).html" target="_blank" rel="noopener noreferrer">https://risweb.st-andrews.ac.uk/portal/en/datasets/the-latin-diachronic-database-project(05bf041f-9654-4173-8c8a-b93a2efa0926).html</a>) used by the <i>Latin Decoder</i> was developed by Tommaso Spinelli and Giacomo Fenzi within the <i>Latine Loquamur</i> project (<a href="https://github.com/latineloquamur?tab=repositories" target="_blank" rel="noopener noreferrer">https://github.com/latineloquamur?tab=repositories</a>), which was awarded funding by the University of St Andrews (22/03/2018; Grant 690039408), and perfected by Tommaso Spinelli during his Postdoctoral Fellowship at the <i>Pontificium Institutum Altioris Latinitatis</i> of the Salesian University of Rome.
        </p>
    </div>

</div>

@code {

}
